<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guc.firstlinecode">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许接收开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- 通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.jetpack.vm.ViewModelActivity"></activity>
        <activity android:name=".ui.jetpack.JetpackActivity" />
        <activity
            android:name=".ui.material.FruitActivity"
            android:theme="@style/TransStatusBarTheme" />
        <activity
            android:name=".ui.material.MaterialDesignActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.net.RetrofitActivity" />
        <activity android:name=".ui.net.ParseXmlAndJsonActivity" />
        <activity android:name=".ui.net.HttpURLConnectionActivity" />
        <activity android:name=".ui.net.NetTechnologyActivity" />
        <activity android:name=".ui.net.ActivityBrowser" />
        <activity android:name=".ui.ServiceActivity" />
        <activity android:name=".ui.CameraAndAlbumActivity" />
        <activity android:name=".ui.NotificationActivity" />
        <activity android:name=".ui.RuntimePermissionActivity" />
        <activity android:name=".ui.DataPersistenceActivity" />
        <activity android:name=".ui.BroadcastActivity" />
        <activity android:name=".ui.NewsActivity" />
        <activity android:name=".ui.NewsContentActivity" />
        <activity android:name=".ui.FragmentDemo1Activity" />
        <activity android:name=".ui.FragmentDemo2Activity" />
        <activity android:name=".ui.RecyclerViewActivity" />
        <activity android:name=".ui.ListViewActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_cn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="com.guc.firstlinecode.action.ACTION_FISRTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".SelectPictureActivity"
            android:theme="@style/MyDialogBottom" />
        <activity
            android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance" />

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.guc.firstlinecode.action.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="50">
                <action android:name="com.guc.firstlinecode.action.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.guc.firstlinecode.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.guc.firstlinecode.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>