<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guc.firstlinecode">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.NewsActivity"></activity>
        <activity android:name=".ui.NewsContentActivity" />
        <activity android:name=".ui.FragmentDemo1Activity" />
        <activity android:name=".ui.FragmentDemo2Activity" />
        <activity android:name=".ui.RecyclerViewActivity" />
        <activity android:name=".ui.ListViewActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_cn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="com.guc.firstlinecode.action.ACTION_FISRTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:theme="@style/MyDialog" />
        <activity
            android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance" />
    </application>

</manifest>